<h2>Nuž prišlo k najhoršiemu</h2>
<p>Pravdepodobne ma budete chcieť zastihnuť</p>
<p>Nato by bol dobrý kontaktný formulár. Hmmm ten v kratkej dobe určite bude ale odosielať maili ešte neviem. Takže Vás prosím o chvílu strpenia kým sa to naučím ;-)</p>
