// Place all the styles related to the admin/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.photos{
	li{
	  float: left;
	  list-style: none;
	  border: 1px solid #ccc;
	  padding: 10px;
	  margin-right: 10px;
	  margin-bottom: 10px;
	  box-shadow: 2px 2px 14px #CDB;
	  position: relative;

	  small{
	  	// display: block;
	  	display: none;
			position: absolute;
			top: 13px;
			left: 93px;
			background-color: rgba(255, 255, 255, .6);
			width: 15px;
			text-align: center;
			border-radius: 6px;

	  	a{
	  		text-decoration: none;
	  		color: #fff;
	  		font-weight: bold;
	  	}
	  	a:hover{
	  		color: red;
	  	}
	  }
	}
	li:hover{
	  border: 1px solid #888;
	  box-shadow: 0px 0px 0px #CDB;

	  small{
	  	display: block;

	  }
	}
	.actions{
		margin-top: 20px;
	}
}